image: haskell:8.10.7

variables:
  STACK_ROOT: "${CI_PROJECT_DIR}/.stack-root"

cache:
  paths:
    - .stack
    - .stack-work
    - target

build:
  stage: build & test
  script:
    - ghc --version
    - stack --system-ghc test
