name: Build

on:
  push:
    branches:
      - "**"
    tags:
      - "!**"

jobs:
  ormolu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haskell-actions/run-ormolu@v15
  hlint:
    name: hlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Set up HLint"
        uses: haskell-actions/hlint-setup@v2
        with:
          version: "3.4"

      - name: "Run HLint"
        uses: haskell-actions/hlint-run@v2
        with:
          path: '["src/", "test/", "app/"]'
          fail-on: suggestion

  build:
    name: Build
    runs-on: ubuntu-latest
    needs:
      - ormolu
      - hlint
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        name: Cache ~/.stack
        with:
          path: ~/.stack
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('**/stack.yaml.lock','**/gitlab-helper.cabal') }}-v2
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-
      - uses: haskell-actions/setup@v2.7.3
        with:
          ghc-version: "9.4.8"
          enable-stack: true
          stack-version: "2.15.7"

      - name: Build dependencies
        run: |
          stack build --system-ghc --test --only-dependencies

      - name: Build
        run: |
          stack build --system-ghc --test --no-run-tests --coverage --pedantic

      - name: Test
        run: |
          stack test --system-ghc --coverage --copy-bins --local-bin-path .

      - uses: actions/upload-artifact@v4
        with:
          name: gitlab-helper-exe
          path: gitlab-helper-exe

  markdown:
    name: Markdown lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Markdown Lint
        uses: avto-dev/markdown-lint@v1.5.0
        with:
          config: ".markdownlint.json"
          args: ". --ignore test_resources/"
